.x57344 {
  background-color: #ffffff;
  border: 1px solid #422c81;
  border-radius: 8px;
  cursor: pointer;
  height: 42px;
  margin-top: 16px;
  opacity: 1;
  position: relative;
  width: 327px;
}

.label-vP5K8y {
  color: #422c81;
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 24px;
  letter-spacing: 0;
  line-height: 18px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
  width: 279px;
}

