.x57331 {
  background-color: #422c81;
  border-radius: 8px;
  cursor: pointer;
  height: 42px;
  opacity: 1;
  position: relative;
  width: 327px;
}

.label-WjPzl3 {
  color: #ffffff;
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 24px;
  letter-spacing: 0;
  line-height: 18px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
  width: 279px;
}

.x57331.x831492,
.x57331.x831413 {
  margin-top: 24px;
}

